<div class="form">
    <h6>SIGN UP</h6>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="first-name">
            <app-input
                type="text" 
                placeholder="First Name" 
                name="firstName"
                formControlName="firstName"
                [ngClass]="{ 'is-invalid': signupForm.get('firstName')?.invalid && (signupForm.get('firstName')?.touched || signupForm.get('firstName')?.dirty) }"
                [label]="'First Name'"
            />
           @if(signupForm.get('firstName')?.invalid && (signupForm.get('firstName')?.touched || signupForm.get('firstName')?.dirty)) {
                <div class="error-message">
                    <p *ngIf="signupForm.get('firstName')?.errors?.['required']">First Name is required</p>
                </div>
            }
        </div>
        <div class="last-name">
            <app-input
                type="text" 
                placeholder="Last Name" 
                name="lastName"
                formControlName="lastName"
                [ngClass]="{ 'is-invalid': signupForm.get('lastName')?.invalid && (signupForm.get('lastName')?.touched || signupForm.get('lastName')?.dirty) }"
                [label]="'Last Name'"
            />
            @if(signupForm.get('lastName')?.invalid && (signupForm.get('lastName')?.touched || signupForm.get('lastName')?.dirty)) {
                <div class="error-message">
                    <p *ngIf="signupForm.get('lastName')?.errors?.['required']">Last Name is required</p>
                </div>
            }
        </div>
        <div class="email">
            <app-input
                type="email" 
                placeholder="Email" 
                name="email"
                formControlName="email"
                [ngClass]="{ 'is-invalid': signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty) }"
                [label]="'Email'"
            />
            @if(signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)) {
                <div class="error-message">
                    <p *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</p>
                    <p *ngIf="signupForm.get('email')?.errors?.['email']">Enter a valid email</p>
                </div>
                
            }

        </div>
        <div class="password">
            <app-input
                type="password" 
                placeholder="Password" 
                name="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty) }"
                [label]="'Password'"
            />
            @if(signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)) {
                <div class="error-message">
                    <p *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</p>
                    <p *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</p>
                </div>
            }
        </div>
        <div class="confirm-password">
            <app-input
                type="password" 
                placeholder="Confirm Password" 
                name="confirmPassword"
                formControlName="confirmPassword"
                [ngClass]="{ 'is-invalid': (signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.touched || signupForm.get('confirmPassword')?.dirty)) || passwordMatch === false }"
                [label]="'Confirm Password'"
            />
    
            @if((signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.touched || signupForm.get('confirmPassword')?.dirty)) || passwordMatch === false) {
                <div class="error-message">
                    <p *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</p>
                    <p *ngIf="passwordMatch === false">Passwords do not match</p>
                </div>
            }
        </div>
        <button [disabled]="signupForm.invalid">Register</button>
    </form>
</div>